@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  font: size 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.jumbotron {
  position:relative;
  overflow:hidden;
  width:100%;
  height:100vh;
  
}

.jumbotron .container {
  position:relative;
  z-index:2;
  
  background:rgba(0,0,0,0.2);
  padding:12rem;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
}

.jumbotron-background {
  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  opacity:0.5;
}

img.blur {
	-webkit-filter: blur(4px);
	filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');

}

#hero{
  width:100%;
  height:100vh;  
  color:antiquewhite;
}

#about{
  width:100%;
  height:100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)), url("../src/images/pexels-daian-gan-102127.jpg") no-repeat center / cover;
  color:antiquewhite;
}

#about .container .info h2{
  font-size:1.5em;
  margin-bottom:2em;
  text-align: center;
  font-size: 50px;
  max-width: 70%;
  margin:0 auto;
}




